<div class="changeContainer">
    <div class="changePwd">
        <form action="/changePassword" method="POST">
            <h2>Alterar senha</h2>
    
            <label for="pwd">Nova senha:</label>
            <input placeholder="Nova senha" type="password" id="pwd" name="pwd" required>
    
            <label for="password">Confirmação da nova senha:</label>
            <input placeholder="COnfirmação da nova senha" type="password" id="pwd" name="pwd" required>
    
            <button type="submit">Alterar</button>
        </form>
    </div>
    
</div>