<div class="sideBar">
    <div class="sideBarOp">
        <ul>
            <li>
                <a 
                    href="user-painel" 
                    [ngClass]="{'active': selectedLink === 'Minha carteira'}" 
                    (click)="selectLink('Minha carteira')"
                >Minha carteira</a>
            </li>
            <li>
                <a 
                    href="my-transation" 
                    [ngClass]="{'active': selectedLink === 'Transações'}" 
                    (click)="selectLink('Transações')"
                >Transações</a>
            </li>
            <li>
                <a 
                    href="stock-order" 
                    [ngClass]="{'active': selectedLink === 'Comprar e vender ações'}" 
                    (click)="selectLink('Comprar e vender ações')"
                >Comprar e vender ações</a>
            </li>
            <li>
                <a 
                    href="cripto-order" 
                    [ngClass]="{'active': selectedLink === 'Comprar e vender criptos'}" 
                    (click)="selectLink('Comprar e vender criptos')"
                >Comprar e vender criptos</a>
            </li>
        </ul>
    </div>
</div>
