<div class="buyAndSellContainer">
    <div class="buyStockContainer">
        <h1>Comprar Ações</h1>
        <h2>Saldo Atual: 87.23$</h2>
        <form action="/submit" method="post">
            <div class="inputs">
                <label for="options">Escolha sua cripto:</label>
                <select id="options" name="options">
                    <option value="option1">AAPL 150.93</option>
                    <option value="option2">TSLA 250.86</option>
                    <option value="option3">ASSA3 53.43</option>
                </select>
                <label for="quantity">Escolha a quantidade:</label>
                <input id="quantity" name="quantity" type="number" min="1" max="10" step="1" value="1">
            </div>
            <p class="value-to-pay">Valor a pagar: 150.93$</p>
            <button id="btn" type="submit">Comprar</button>
        </form>
    </div>
    <div class="sellStockContainer">
        <h1>Vender Ações</h1>
        <h2>Saldo Atual: 87.23$</h2>
        <form action="/submit" method="post">
            <div class="inputs">
                <label for="options">Escolha sua Ação:</label>
                <select id="options" name="options">
                    <option value="option1">AAPL 150.93$</option>
                    <option value="option2">TSLA 250.86$</option>
                    <option value="option3">ASSA3 53.43$</option>
                </select>
                <label for="quantity">Escolha a quantidade:</label>
                <input id="quantity" name="quantity" type="number" min="1" max="10" step="1" value="1">
            </div>
            <p class="value-to-pay">Valor a Receber: 150.93$</p>
            <button id="btn" type="submit">Vender</button>
        </form>
    </div>
</div>