<div class="registerContainer">
    <div class="register">
        <form action="/register" method="POST">
            <h2>Register</h2>
    
            <label for="email">Email:</label><br />
            <input type="email" id="email" name="email" required />
    
            <label for="password">Senha:</label><br />
            <input type="password" id="password" name="password" required />
            
            <label for="confpwd">Confirmação de senha:</label><br />
            <input type="confpwd" id="confpwd" name="confpwd" required />      

            <p><a href="#">Esqueceu a senha?</a></p>
            <p><a href="#">Cadastre-se</a></p>
            <button type="submit">Entrar</button>
        </form>
    </div>
    
</div>