<div class="registerContainer">
    <div class="register">
        <form action="/register" method="POST">
            <h2>Register</h2>
    
            <label for="email">Email:</label>
            <input placeholder="Email" type="email" id="email" name="email" required />
    
            <label for="password">Senha:</label>
            <input placeholder="Senha" type="password" id="password" name="password" required />
            
            <label for="confpwd">Confirmação de senha:</label>
            <input placeholder="Confirmação de senha" type="confpwd" id="confpwd" name="confpwd" required />      

            <p><a href="login">Já possui cadastro?</a></p>
            <button type="submit">Register</button>
        </form>
    </div>
    
</div>