<div class="loginContainer">
    <div class="login">
        <form action="/login" method="POST">
            <h2>Login</h2>
    
            <label for="email">Email:</label>
            <input placeholder="Email" type="email" id="email" name="email" required>
    
            <label for="password">Senha:</label>
            <input placeholder="Senha" type="password" id="password" name="password" required>
            <p><a href="recovery">Esqueceu a senha?</a></p>
            <p><a href="register">Cadastre-se</a></p>
    
            <button type="submit">Entrar</button>
        </form>
    </div>
    
</div>