<div class="userPainel">
  <div class="infos">
    <h2>{{ userName }}</h2>
    <button class="btn-receive" (click)="addBalance(50)">Receber 50$</button>
  </div>
  <div class="balance">
    <h2>Saldo estimado: 
      <span class="balance-estimated">
        {{ estimatedBalance | currency: 'USD':'symbol':'1.2-2' }}
      </span>
    </h2>
    <h2>Saldo atual: 
      <span class="balance-current">
        {{ currentBalance | currency: 'USD':'symbol':'1.2-2' }}
      </span>
    </h2>
  </div>
  <div class="userWallet">
    <h2>Seus Ativos</h2>
    <div class="btns">
      <button class="btn-stock" (click)="showStocks()">Ações</button>
      <button class="btn-crypto" (click)="showCryptos()">Criptomoedas</button>
    </div>

    <div class="stock-container" *ngIf="showingStocks">
      <div class="stock-header">
        <span class="stock-symbol">Ticker</span>
        <span class="quantity">Quantidade</span>
        <span class="stock-price">Preço</span>
        <span class="stock-change">Variação</span>
      </div>
      <div *ngFor="let stock of allStocks" class="stock-item">
        <span class="stock-symbol">{{ stock.ticker }}</span>
        <span class="quantity">{{ stock.quantity }}</span>
        <span class="stock-price">{{ stock.price | currency: 'USD':'symbol':'1.2-2' }}</span>
        <span 
          class="stock-change" 
          [ngClass]="getVariationClass(stock.variation)">
          {{ getFormattedVariation(stock.variation) }}
        </span>
      </div>
    </div>
    
  </div>
  <div class="notice" *ngIf="notice">
    <h2>{{ notice.title }}</h2>
    <p>{{ notice.content }}</p>
  </div>
</div>
